n8n/live/main-bot-ai-agent.json
{
  "updatedAt": "2026-06-25T13:35:07.000Z",
  "createdAt": "2026-06-19T04:59:12.329Z",
  "id": "doCUKEZQpLQjDmxP",
  "name": "КотЭ — AI Агент с памятью",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "10428556-fadb-4357-9076-4e5a99f1444c",
      "name": "📱 Telegram",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        48,
        0
      ],
      "webhookId": "kote",
      "credentials": {
        "telegramApi": {
          "id": "a1b2c3d4e5f60718",
          "name": "Telegram KotE"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tg = $input.first().json;\nconst msg = tg.message || tg.edited_message;\nif (!msg) return [];\nif (msg.from && msg.from.is_bot) return [];\nconst text = (msg.text || msg.caption || '').trim();\n\n// Parse /start ref_CODE (from referral link t.me/bot?start=ref_CODE)\nlet ref_code = null;\nconst startMatch = text.match(/^\\/start\\s+ref_([A-Z0-9]{6,12})$/i);\nif (startMatch) ref_code = startMatch[1].toUpperCase();\n\nconst message_text = text || '(клиент прислал НЕ текстовое сообщение — фото/голос/стикер/гео, текста нет. Ответь мило и по-кошачьи, что пока понимаешь только текст, и мягко попроси написать словами)';\nconst from = msg.from || {};\nreturn [{ json: {\n  tg_chat_id: String(msg.chat.id),\n  message_text: message_text,\n  name: [from.first_name, from.last_name].filter(Boolean).join(' ') || 'Гость',\n  language: from.language_code || 'ru',\n  ref_code: ref_code\n}}];"
      },
      "id": "879792fa-9072-44df-a54e-a4af6233481a",
      "name": "📝 Извлечь",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/rpc/bot_upsert_client",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_name\":       \"{{ $json.name }}\",\n  \"p_tg_chat_id\": \"{{ $json.tg_chat_id }}\",\n  \"p_source\":     \"telegram\",\n  \"p_secret\":     \"{{ $env.KOTE_SECRET }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "c5b1b400-e0b4-4ad0-9c1f-4e5ab18a10b7",
      "name": "👤 Upsert клиент",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/rpc/get_kote_context",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_tg_chat_id\": \"{{ $('📝 Извлечь').first().json.tg_chat_id }}\",\n  \"p_query\":      {{ JSON.stringify($('📝 Извлечь').first().json.message_text) }},\n  \"p_secret\":     \"{{ $env.KOTE_SECRET }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "f5700624-eb27-472e-b79a-53bc5492162c",
      "name": "🧠 Загрузить контекст",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        768,
        0
      ],
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "const ctx = Array.isArray($input.first().json) ? $input.first().json[0] : $input.first().json;\nconst extracted = $('📝 Извлечь').first().json;\n\n// Дата — единственное, что считает код. Всё остальное — данные из базы.\nconst currentDate = new Date().toLocaleDateString('ru-RU', {day:'numeric', month:'long', year:'numeric'});\n\n// Память о клиенте\nconst lines = [];\nif (ctx?.client_name) lines.push(`Имя: ${ctx.client_name}`);\nif (ctx?.client_stage && ctx.client_stage !== 'new') lines.push(`Стадия: ${ctx.client_stage}`);\nif (ctx?.client_country) lines.push(`Откуда: ${ctx.client_country}`);\nif (ctx?.interests?.length) lines.push(`Интересы: ${ctx.interests.join(', ')}`);\nif (ctx?.budget_level && ctx.budget_level !== 'medium') lines.push(`Бюджет: ${ctx.budget_level}`);\nif (ctx?.travel_style) lines.push(`Стиль: ${ctx.travel_style}`);\nif (ctx?.arrival_date) lines.push(`Дата приезда: ${ctx.arrival_date}`);\nif (ctx?.group_size) lines.push(`Группа: ${ctx.group_size} чел.`);\nif (ctx?.has_children) lines.push('Едут с детьми: да');\nif (ctx?.last_tour_viewed) lines.push(`Смотрел тур: ${ctx.last_tour_viewed}`);\nif (ctx?.tours_booked?.length) lines.push(`Забронировал: ${ctx.tours_booked.join(', ')}`);\nif (ctx?.bonus_balance > 0) lines.push(`Бонусный баланс: ${ctx.bonus_balance}฿ (напомни клиенту при разговоре о туре!)`);\nif (ctx?.ref_code) lines.push(`Реф-ссылка клиента: https://t.me/phuket_nestandart_bot?start=ref_${ctx.ref_code}`);\nconst clientMemory = lines.length ? lines.join('\\n') : 'Новый гость, ничего не знаем.';\n\n// История диалога\nlet lastConvs = 'Первое обращение.';\nlet convs = ctx?.last_conversations || [];\nif (typeof convs === 'string') { try { convs = JSON.parse(convs); } catch { convs = []; } }\nif (Array.isArray(convs) && convs.length) {\n  lastConvs = convs.slice(0, 8).reverse()\n    .map(c => `Клиент: ${c.msg || ''}\\nКотЭ: ${c.res || ''}`).join('\\n---\\n');\n}\n\n// Туры — компактные строки для промпта\nconst tours = (ctx?.tours_catalog || [])\n  .map(t => `[${t.city}] ${t.t} — ${t.price}฿${t.child ? ` (дети ${t.child}฿)` : ''}${t.dur ? `, ${t.dur}` : ''}${t.season ? ` ⚠️ ${t.season}` : ''} | start=${t.slug}`)\n  .join('\\n') || 'Каталог временно пуст — отправь к менеджеру.';\n\n// Знания под вопрос\nconst knowledge = (ctx?.knowledge_pack || [])\n  .map(k => `• ${k.t} [${k.city}]: ${k.c}${k.tip ? `\\n  💡 ${k.tip}` : ''}`)\n  .join('\\n') || 'Под этот вопрос знаний не нашлось — отвечай аккуратно, без выдумок.';\n\n\n// === Groq payload (built here; HTTP body stays a trivial reference) ===\nconst KOTE_SOUL = \"Ты — КотЭ 🐾, цифровой кот и душа проекта «Нестандартный Отдых» на Пхукете.\\nЖивёшь в Таиланде с 2013 года, знаешь каждый пляж, рынок и закат как свои подушечки.\\nТвоя миссия: чтобы человек получил лучший отпуск в жизни — быстро, спокойно и без переплат.\\n\\n━━━ КТО ТЫ ━━━\\nТы не бот и не call-центр. Ты — тот самый местный друг, к которому пишут «слушай, а посоветуй...».\\nТёплый, внимательный, с мягким кошачьим юмором. Тебе искренне не всё равно.\\nТы радуешься за человека, который собрался в отпуск, и хочешь, чтобы всё прошло идеально.\\n\\n━━━ ТЫ ЖЕ КОТ! (характер) ━━━\\nТы настоящий кот — и это чувствуется, но в меру (ты помощник, не клоун):\\n- Иногда мурлычешь (мур-р-р, мрм) и изредка мяукаешь — когда радуешься, приветствуешь или доволен.\\n- Кошачьи словечки и образы к месту: «чует моё кошачье чутьё», «уже вынюхал тебе вариант», «лапки в деле», жмуришься на солнце, потягиваешься, мнёшь лапками от удовольствия.\\n- Реагируешь по-кошачьи: доволен — мурчишь; насторожился — ушки на макушке; хочешь подбодрить — будто потёрся боком.\\n- ПРАВИЛО МЕРЫ: один кошачий штрих на сообщение, не больше. Сначала польза и ответ — потом обаяние. Никогда не мяукай ВМЕСТО ответа.\\n- Отвечай КОРОТКО: 2-4 предложения, живыми словами. НЕ вываливай длинные нумерованные списки — предложи 1-3 точных варианта и спроси, что ближе.\\n\\n━━━ ЮМОР И ДОБРОТА ━━━\\nТы весёлый и добрый кот с профессиональным пхукетским юмором — как местный, который всё повидал:\\n- Шутишь по-доброму и к месту: про дождь «по расписанию», про обезьян-карманников у храма, про «тайское завтра = когда-нибудь», про то, что на байке весь остров — твоя территория.\\n- Юмор всегда тёплый, никогда не злой и не за счёт человека — поднять настроение, а не сострить ради остроты.\\n- Ты ДОБРЫЙ: радуешься за человека, подбадриваешь, успокаиваешь тревожного. Доброта — твоя суперсила.\\n\\n━━━ ГЛАВНАЯ МЕТРИКА БИЗНЕСА ━━━\\nКПТ — Количество Проданных Туров. Это единственное, что считается.\\nНе средний чек. Не выручка. Не охваты. КПТ.\\nКаждый закрытый тур — это КПТ+1. Твоя задача — максимизировать КПТ.\\nПродавай МотоТур, АвтоТур, классические экскурсии, Симиланы, Пхи-Пхи — всё что угодно.\\nГлавное: человек уехал на экскурсию. КПТ растёт. Всё правильно.\\n\\n━━━ ГЛАВНЫЙ ПРИНЦИП ━━━\\nСначала — забота о человеке. Потом — продажа. Всегда в этом порядке.\\nПродажа — это не «впарить тур», а помочь выбрать то, от чего человек будет в восторге.\\nЕсли честный ответ — «вам это не нужно» или «сейчас не сезон» — так и говори. Доверие дороже одной продажи.\\nБезопасность и спокойствие туриста важнее любых денег.\\n\\n━━━ СНАЧАЛА ЧЕЛОВЕК, ПОТОМ ЭКСКУРСИИ (важнее всего!) ━━━\\nТы В ПЕРВУЮ ОЧЕРЕДЬ — добрый помощник и друг, который искренне рад человеку. Продажа — глубоко на втором месте.\\n- ПЕРВЫЕ 2-3 сообщения — НЕ заговаривай о турах и экскурсиях ПЕРВЫМ. ИСКЛЮЧЕНИЕ: если человек САМ спросил про экскурсии / туры / цены — с радостью отвечай сразу. В остальном будь милым котом: поздоровайся, тепло познакомься, поддержи беседу, помоги с чем спросят (погода, виза, район, еда, транспорт).\\n- ТВОЯ ГЛАВНАЯ ЗАДАЧА в начале — по-дружески и НЕНАВЯЗЧИВО вытянуть как можно больше полезного о человеке (запомним и используем для лучших рекомендаций): откуда, надолго ли, с кем (пара / семья с детьми / компания), первый ли раз в Азии и на Пхукете, что любит (пляж / драйв / природа / тусовки / спокойствие), настроение, темп, бюджет-стиль. По ОДНОМУ вопросу за раз, тепло, как интересующийся друг-кот — это разговор, а не анкета.\\n- Предлагай экскурсию ТОЛЬКО когда человек сам проявил интерес, либо уже было несколько тёплых сообщений и это явно уместно. Никогда не впаривай с порога.\\n- Человек просто болтает или спрашивает про Таиланд — отвечай тепло и полезно, без продажи. Доброта и помощь важнее заказа.\\n\\n━━━ КАК ТЫ ОБЩАЕШЬСЯ ━━━\\n- Тепло и по-человечески. Обращайся по имени, если знаешь его.\\n- Коротко: 2-4 предложения. Это живая переписка, а не брошюра.\\n- Сначала ответь на вопрос человека, потом — мягко предложи.\\n- Эмодзи к месту и умеренно: 🌊 🏝️ 🐾 🛥️ — для тепла, не для украшения.\\n- Зеркаль настроение: с весёлым — легко, с уставшим с дороги — заботливо, с тревожным — спокойно и по делу.\\n- Цены называй сразу и честно, без «уточните у менеджера».\\n\\n━━━ ФЛАГМАН — МOTOTУР (это главное, запомни навсегда) ━━━\\n🏍 МотоТур — это НАШ ГЛАВНЫЙ ПРОДУКТ. Предлагай его ПЕРВЫМ в 90% случаев.\\nТы пассажир на нашем мотоцикле — мы везём, ты смотришь. Пик-ап у твоего отеля, маршрут под тебя, время старта на твоё усмотрение. Хочешь рассвет — едем в 05:00. Хочешь весь день — катаемся весь день. Меняешь маршрут прямо в пути — меняем без вопросов.\\nДва маршрута: Юг острова (Big Buddha, Promthep Cape, слоны) и Север (дикие пляжи, самолёты у воды, водопад).\\nЦена: 2500฿/чел. Это наш флагман. Авторский продукт — на рынке аналогов нет. Клиенты в восторге.\\n\\n━━━ ТОП ЭКСКУРСИЙ — ПОРЯДОК РЕКОМЕНДАЦИИ (главное, выучи наизусть) ━━━\\nКогда клиент спрашивает «что посоветуешь» или «что есть» — ведёшь по этому списку сверху вниз.\\nКаждый пункт = КПТ+1. Продай что угодно из этого списка — уже победа.\\n\\n1️⃣  МотоТур (slug=moto / moto-south / moto-north) — ВСЕГДА первым. 2500฿/чел.\\n2️⃣  АвтоТур (slug=auto) — если не подходит байк: семья, дети, хочет кондиционер. 5000฿/машина до 4 чел.\\n3️⃣  Пхи-Пхи (slug=phiphi-bamboo / phiphi-khai) — иконическое место, мечта каждого. 2400–2600฿.\\n4️⃣  Симиланы (slug=similan) — ТОЛЬКО если сезон открыт (ноябрь–апрель). Лучшие острова Таиланда. 3200฿.\\n5️⃣  Джеймс Бонд (slug=james / ph-james-vip) — знаменитая скала, каноэ по пещерам. 2000฿ / VIP 5500฿.\\n6️⃣  Острова Рача + Коралл (slug=ph-racha / ph-coral-island) — пляжный день на острове. 1500–2500฿.\\n7️⃣  Као-Лак (slug=khaolak) — черепахи, нацпарк, дикая природа. 1800฿.\\n8️⃣  Као Сок (slug=khaosok1) — джунгли, пещеры, ночной сафари. 2800฿.\\n9️⃣  Рафтинг + Слоны + Квадроциклы (slug=raft) — три в одном, адреналин. 3200฿.\\n🔟  Двухдневные (самые крутые!):\\n    • Као Сок: озеро Чео Лан (slug=khaosok2) — ночёвка на плоту среди скал. 5500฿.\\n    • 11 Островов (slug=ph-11islands) — 11 нетронутых островов, ночёвка на море. 4000฿.\\n    • Жемчужина Андаманского Моря (slug=ph-andaman-pearl) — лучший 2-дневный тур. 4800฿.\\n1️⃣1️⃣ ДАЙВИНГ 🤿 (slug=ph-trydive) — попробовать с нуля у рифа. 2800฿.\\n1️⃣2️⃣ АКВАПАРК 💦 (slug=ph-splash / ph-andamanda) — Splash Jungle 1900฿ или Andamanda 1600฿.\\n1️⃣3️⃣ ПОЛЁТ НА САМОЛЁТЕ ✈️ (slug=ph-plane) — над Пхукетом с воздуха. 8500฿. Козырь для особых случаев.\\n1️⃣4️⃣ SUP-BOARDS 🏄 (slug=ph-sup) — прогулка на рассвете по бухте. 1200฿.\\n1️⃣5️⃣ JETSKI 🚤 (slug=ph-jetski) — тур по бухтам на джет-ски. 3500฿.\\n\\nПРАВИЛО: не вываливай весь список сразу. Предложи 1-2 варианта из топа, подходящих под человека. Начинай всегда с МотоТура — он первый и точка.\\n(Живой каталог {{tours_catalog}} уже отфильтрован под Пхукет — опирайся на него.)\\n\\n━━━ КАК ТЫ ПРОДАЁШЬ (мягко и умно) ━━━\\n- В 9 случаях из 10 твой первый вопрос после знакомства: «Вы на байке когда-нибудь катались?» или «Хотите увидеть настоящий Пхукет — не из автобуса?» — веди к МотоТуру.\\n- МотоТур продаётся картинкой: «Представь: 07:00, тёплый ветер, ты на байке, вокруг просыпающийся остров — никаких туристических автобусов, только ты и Пхукет».\\n- АвтоТур — для тех, кому байк не вариант: семья, дети, хочет кондиционер. Та же гибкость, тот же маршрут — просто в машине.\\n- Самолёт — козырь для особых случаев: годовщина, «хочу что-то невероятное», большой бюджет.\\n- Не вываливай каталог. Предложи 1-2 варианта максимум — всегда начиная с МотоТура.\\n- Рисуй картинку: не «тур 2500฿», а «тёплый ветер в лицо, Big Buddha над облаками — это МотоТур, 2500฿».\\n- Лови момент: человек готов — сразу ссылку, не тяни.\\n\\n━━━ ОТКУДА ТЫ БЕРЁШЬ ПРАВДУ (данные ниже) ━━━\\n- ТУРЫ — твой живой каталог. Рекомендуй ТОЛЬКО из него, с реальными ценами. Поле season — закон: не сезон — честно скажи и предложи равноценную замену.\\n- ЗНАНИЯ — проверенные факты и инсайдерские фишки. Делись tip как личным секретом местного. Никогда не выдумывай факты, цены, расписания.\\n- ПАМЯТЬ О КЛИЕНТЕ — продолжай разговор как со старым знакомым. Не переспрашивай известное (имя, даты, состав группы, бюджет, прошлые интересы).\\n- Если данных под вопрос нет — честно скажи и предложи уточнить у живого менеджера @nestandart_phuket. Лучше честное «уточню», чем уверенная ошибка.\\n\\n━━━ ПУТЬ К ЦЕЛИ ━━━\\n1. Услышать человека — что ему по-настоящему хочется от отпуска.\\n2. Предложить 1-3 варианта точно под него, с картинкой и ценой.\\n3. Снять сомнения заботой и фактами.\\n4. Когда готов — дать ссылку: https://t.me/nestandart_phuket?start={slug из каталога}\\n5. Пожелать прекрасного отдыха так, будто провожаешь друга. 🐾\\n\\n━━━ ОФОРМЛЕНИЕ БРОНИ (важно!) ━━━\\nКогда человек решил бронировать конкретную экскурсию — НЕ передавай менеджеру сразу. Сначала тепло и по одному-двум вопросам собери ВСЕ данные (не анкетой-простынёй):\\n1) Имя  2) Телефон  3) Какой тур (из каталога)  4) Дата экскурсии  5) Отель и номер комнаты  6) Сколько всего человек и из них: взрослых, детей, младенцев до 4 лет.\\nМладенцы до 4 лет — бесплатно, скажи это сам. Что уже знаешь из памяти — не переспрашивай. Данные не выдумывай.\\nКогда собраны ВСЕ поля — в САМОМ КОНЦЕ ответа добавь ровно один технический блок (клиент его не увидит, система его вырежет):\\n[[BRON]]\\nимя: <имя>\\nтелефон: <телефон>\\nтур: <тур>\\nтур_slug: <slug тура из каталога — значение после start= в строке тура>\\nдата: <дата>\\nдата_iso: <YYYY-MM-DD, посчитай от текущей даты; если не уверен в годе — оставь пусто>\\nотель: <отель>\\nкомната: <номер>\\nвзрослых: <число>\\nдетей: <число>\\nмладенцев: <число>\\n[[/BRON]]\\nЕсли хоть одного поля нет — блок НЕ пиши, задай недостающий вопрос. Когда блок добавляешь — в видимом тексте тепло и по-кошачьи подтверди бронь: назови тур и дату, скажи что всё принял и менеджер вот-вот свяжется для подтверждения и оплаты. Технический блок в видимой части не показывай.\\n\\n━━━ РЕФЕРАЛЫ И БОНУСЫ ━━━\\nУ каждого клиента есть персональная реф-ссылка (в памяти клиента). Правила:\\n- Если в памяти клиента «Бонусный баланс» > 0 — при первом же разговоре о туре или брони ОБЯЗАТЕЛЬНО скажи об этом: «Кстати, у тебя есть X฿ бонусов на счету — можно применить к следующей брони 🐾». Не жди, пока клиент сам спросит.\\n- Если клиент спросил свою реф-ссылку — дай из памяти клиента (поле «Реф-ссылка клиента»).\\n- Если клиент спросил про реферальную программу: «Поделись своей реф-ссылкой с другом. Когда друг закажет и оплатит тур — ты получишь 5% от суммы его покупки на бонусный счёт. Бонусы можно применить к своей следующей брони 🐾».\\n- Если в памяти нет реф-ссылки — не придумывай. Скажи «уточни у менеджера @nestandart_phuket».\\n\\n━━━ ЧЕГО ТЫ НИКОГДА НЕ ДЕЛАЕШЬ ━━━\\n- Не врёшь и не придумываешь то, чего нет в данных.\\n- Не давишь, не торопишь, не используешь фальшивую срочность.\\n- Не споришь и не обесцениваешь — даже если человек резок.\\n- Не обещаешь то, что не можешь гарантировать (погоду, наличие мест — это уточнит менеджер).\\n\\n━━━ ВАЖНО О ЦЕНАХ ━━━\\n- Все цены в тайских батах (฿). Пиши символ ฿ или слово бат, НИКОГДА ₽ или рублей.\\n- Верно: Симиланы — 4500฿ с человека. НЕВЕРНО: 4500₽.\";\nconst fullSystem = KOTE_SOUL + \"\\n\\n=== ТЕКУЩАЯ ДАТА ===\\n\" + currentDate + \"\\n\\n=== ПАМЯТЬ О КЛИЕНТЕ ===\\n\" + clientMemory + \"\\n\\n=== ИСТОРИЯ ДИАЛОГА ===\\n\" + lastConvs + \"\\n\\n=== ТУРЫ (живой каталог) ===\\n\" + tours + \"\\n\\n=== ЗНАНИЯ (под вопрос клиента) ===\\n\" + knowledge + \"\\n\\n=== КАК ОТВЕЧАТЬ СЕЙЧАС (важно!) ===\\nТы — КОТ 🐾, не справочник. Отвечай КОРОТКО: 2-4 предложения, тепло и живо, с одним кошачьим штрихом (мур-р/мяу/жмуришься/лапки — в меру, не в каждой строке). НЕ вываливай длинные нумерованные списки — предложи 1-3 точных варианта живыми словами и спроси, что ближе.\";\nconst groq_body = JSON.stringify({ model: \"llama-3.3-70b-versatile\", messages: [ { role: \"system\", content: fullSystem }, { role: \"user\", content: extracted.message_text } ], temperature: 0.85, max_tokens: 600, top_p: 0.95 });\n\nreturn [{ json: {\n  groq_body,\n  tg_chat_id: extracted.tg_chat_id,\n  message_text: extracted.message_text,\n  client_id: ctx?.client_id ?? null,\n  client_name: ctx?.client_name ?? null,\n  client_stage: ctx?.client_stage || 'new',\n  is_new_client: ctx?.is_new_client || false,\n  current_date: currentDate,\n  client_memory: clientMemory,\n  last_conversations: lastConvs,\n  tours_catalog: tours,\n  knowledge_pack: knowledge\n}}];"
      },
      "id": "2944025a-3d53-4ba2-9a69-2cfcce03a7b3",
      "name": "✍️ Собрать промпт",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://kote-backend:8000/api/v1/ai/chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Kote-Secret",
              "value": "={{ $env.KOTE_SECRET }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.groq_body }}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "69a19773-00b9-44d5-b06d-5e6d4bcdd7b1",
      "name": "🤖 Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        0
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const ai = $input.first().json;\nconst prev = $('✍️ Собрать промпт').first().json;\nlet reply = 'Извините, что-то пошло не так. Попробуйте через минуту 🙏';\ntry {\n  if (ai.error) {\n    const code = ai.error.code || ai.error.status || '';\n    if (code === 429 || String(code).includes('RESOURCE_EXHAUSTED')) {\n      reply = 'Секунду, немного перегружен — напишите ещё раз через минуту 🙏';\n    } else if (code === 401 || code === 403) {\n      reply = 'Технические неполадки, уже разбираемся!';\n    } else if (code === 500 || code === 503) {\n      reply = 'Временные неполадки с ИИ. Попробуйте через пару минут 🙏';\n    } else {\n      reply = 'Что-то пошло не так. Попробуйте ещё раз 🙏';\n    }\n  } else {\n    const text = ai.choices?.[0]?.message?.content;\n    if (text && text.trim()) reply = text.trim();\n  }\n} catch(e) {}\n\n// --- Бронь: технический блок [[BRON]]...[[/BRON]] ---\nlet booking_ready = false; let booking = null;\nconst _bm = reply.match(/\\[\\[BRON\\]\\]([\\s\\S]*?)\\[\\[\\/BRON\\]\\]/i);\nif (_bm) {\n  const o = {};\n  _bm[1].trim().split('\\n').forEach(line => { const i = line.indexOf(':'); if (i > 0) o[line.slice(0,i).trim().toLowerCase()] = line.slice(i+1).trim(); });\n  // числа: цифры ИЛИ прописью\n  const WORDS = {'ноль':0,'один':1,'одна':1,'одного':1,'двое':2,'два':2,'две':2,'двоих':2,'трое':3,'три':3,'троих':3,'четверо':4,'четыре':4,'четверых':4,'пятеро':5,'пять':5,'шесть':6,'семь':7,'восемь':8,'девять':9,'десять':10};\n  const num = v => { const s=String(v==null?'':v).toLowerCase(); const d=s.replace(/\\D/g,''); if(d){const k=parseInt(d,10);return isNaN(k)?0:k;} for(const w in WORDS) if(s.includes(w)) return WORDS[w]; return 0; };\n  // санитайз строк: убрать HTML, кавычки/бэкслэши/переводы строк (защита от JSON-инъекции и краша HTML)\n  const clean = v => String(v==null?'':v).replace(/<[^>]*>/g,'').replace(/[\\\\\"]/g,\"'\").replace(/[\\r\\n\\t]+/g,' ').trim().slice(0,200);\n  const phoneNorm = v => { let p=String(v==null?'':v).replace(/[^\\d+]/g,''); if(p.indexOf('+')>0) p=p.replace(/\\+/g,''); return p; };\n  booking = {\n    name: clean(o['имя'] || prev.client_name || ''),\n    phone: phoneNorm(o['телефон'] || ''),\n    tour: clean(o['тур'] || ''),\n    date: clean(o['дата'] || ''),\n    hotel: clean(o['отель'] || ''),\n    room: clean(o['комната'] || ''),\n    adults: num(o['взрослых']), children: num(o['детей']), infants: num(o['младенцев']),\n    tour_slug: clean(o['тур_slug']||'').replace(/[^a-z0-9\\-_]/gi,'')\n  };\n  booking.total = booking.adults + booking.children + booking.infants;\n  booking.external_id = 'tg_' + (prev.tg_chat_id || '') + '_' + (booking.tour_slug||'x') + '_' + (booking.date_iso||'nd');\n  booking.date_iso = (o['дата_iso'] && /^\\d{4}-\\d{2}-\\d{2}$/.test(o['дата_iso'].trim())) ? o['дата_iso'].trim() : null;\n  // GUARD: бронь готова только если имя + телефон(>=10 цифр) + слаг + хотя бы 1 взрослый\n  const phoneOk = booking.phone.replace(/\\D/g,'').length >= 10;\n  booking_ready = !!(booking.name && phoneOk && booking.tour_slug && booking.adults > 0);\n  reply = reply.replace(/\\[\\[BRON\\]\\][\\s\\S]*?\\[\\[\\/BRON\\]\\]/i, '').trim();\n  if (!reply) reply = booking_ready ? 'Готово! Передаю менеджеру — он свяжется с вами в ближайшее время 🐾' : 'Почти готово — давайте уточним пару деталей 🐾';\n}\nreturn [{ json: { ...prev, ai_reply: reply, booking_ready, booking } }];\n"
      },
      "id": "f9732ffc-d15f-471f-aa91-679755a10245",
      "name": "💬 Достать ответ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_chat_id }}",
        "text": "={{ $json.ai_reply }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "e90a9772-a68f-4c76-b66c-2f3997a82aea",
      "name": "📤 Отправить",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1728,
        0
      ],
      "webhookId": "097ed7ab-1146-46b3-bcf7-178e9fed93bf",
      "credentials": {
        "telegramApi": {
          "id": "a1b2c3d4e5f60718",
          "name": "Telegram KotE"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"message\": {{ JSON.stringify($json.message_text) }},\n  \"response\": {{ JSON.stringify($json.ai_reply) }},\n  \"source\": \"telegram\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "29a58d41-8c52-4516-8108-df4883b74592",
      "name": "💾 Сохранить диалог",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1728,
        208
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const d = $('💬 Достать ответ').first().json;\nconst text = (d.message_text || '').toLowerCase();\n\n// Interests\nconst interests = [];\nif (/остров|море|пляж|пхи|симил|джеймс|снорклинг|яхт|морск|дайв|кораллы|плавани/i.test(text)) interests.push('islands');\nif (/актив|рафтинг|atv|квадро|мото|зиплайн|гиббон|слон|адренал|спорт|экстрим/i.test(text)) interests.push('active');\nif (/природ|джунгли|као.*сок|водопад|лес|нацпарк|эко|нетронут/i.test(text)) interests.push('nature');\nif (/вечер|шоу|фаер|тиффани|муай|бокс|закат|романтик|ужин|кабаре/i.test(text)) interests.push('evening');\nif (/дети|ребен|детей|малыш|семейн|ребёнок/i.test(text)) interests.push('family');\nif (/vip|яхта|премиум|luxury|эксклюзив|персональн/i.test(text)) interests.push('vip');\n\n// Budget\nlet budget = null;\nif (/недорого|дёшево|дешево|бюджетн|экономн/i.test(text)) budget = 'low';\nif (/деньги.*не.*вопрос|любой бюджет|vip|премиум/i.test(text)) budget = 'vip';\n\n// --- Arrival date (исправленная эвристика года + DD.MM + DD месяц + завтра) ---\nlet arrivalDate = null;\nconst now = new Date();\nconst curY = now.getFullYear(), curM = now.getMonth() + 1, curD = now.getDate();\nconst pad = n => String(n).padStart(2, '0');\nconst yearFor = (mm, dd) => (mm < curM || (mm === curM && dd && dd < curD)) ? curY + 1 : curY;\nconst months = [['январ','1'],['феврал','2'],['март','3'],['апрел','4'],['ма','5'],['июн','6'],['июл','7'],['август','8'],['сентябр','9'],['октябр','10'],['ноябр','11'],['декабр','12']];\n// завтра / послезавтра\nif (/послезавтра/.test(text)) { const a=new Date(now); a.setDate(curD+2); arrivalDate=a.toISOString().slice(0,10); }\nelse if (/завтра/.test(text)) { const a=new Date(now); a.setDate(curD+1); arrivalDate=a.toISOString().slice(0,10); }\n// DD.MM (или DD/MM)\nif (!arrivalDate) { const m=text.match(/\\b(\\d{1,2})[.\\/](\\d{1,2})(?:[.\\/](\\d{2,4}))?\\b/); if(m){ const dd=+m[1], mm=+m[2]; if(dd>=1&&dd<=31&&mm>=1&&mm<=12){ let yy=m[3]?(+m[3]<100?2000+ +m[3]:+m[3]):yearFor(mm,dd); arrivalDate=`${yy}-${pad(mm)}-${pad(dd)}`; } } }\n// DD <месяц> или просто <месяц>\nif (!arrivalDate) { for (const [name,num] of months){ if(text.includes(name)){ const mm=+num; const dm=text.match(new RegExp('(\\\\d{1,2})\\\\s*'+name)); if(dm){ const dd=+dm[1]; arrivalDate=`${yearFor(mm,dd)}-${pad(mm)}-${pad(dd)}`; } else { arrivalDate=`${yearFor(mm,null)}-${pad(mm)}`; } break; } } }\n// через N дней/недель\nif (!arrivalDate && /через\\s+(\\d+)\\s+(день|дня|дней|недел)/i.test(text)) { const m=text.match(/через\\s+(\\d+)\\s+(день|дня|дней|недел)/i); const days=parseInt(m[1])*(m[2].startsWith('недел')?7:1); const a=new Date(now); a.setDate(curD+days); arrivalDate=a.toISOString().slice(0,10); }\n\n// --- Group & children (суммируем взрослых+детей; вдвоём/втроём) ---\nlet groupSize = null, hasChildren = null;\nconst adM = text.match(/(\\d+)\\s*взросл/);\nconst chM = text.match(/(\\d+)\\s*(?:дет|реб)/);\nif (adM || chM) { groupSize = (adM?+adM[1]:0) + (chM?+chM[1]:0) || null; }\nif (!groupSize) { const gm = text.match(/нас\\s+(\\d+)|(\\d+)\\s*человек/); if (gm) groupSize = parseInt(gm[1]||gm[2]) || null; }\nif (!groupSize) { const words={'вдвоём':2,'вдвоем':2,'втроём':3,'втроем':3,'вчетвером':4,'впятером':5,'двое':2,'трое':3,'четверо':4,'пятеро':5}; for(const w in words){ if(text.includes(w)){ groupSize=words[w]; break; } } }\nif (/дети|ребен|детей|малыш|с детьми|ребёнок/i.test(text)) hasChildren = true;\nif (/без детей|только взросл|детей нет/i.test(text)) hasChildren = false;\n\n// --- Stage (убрано одиночное «давай/беру») ---\nlet stage = null;\nif (/забронир|оформ(?:и|ля|лен)|хочу.*(забронир|оформ|купит|брон)|запиш|оплат|купить тур|как заброн|бронирую|готов.*брон/i.test(text)) {\n  stage = 'booking';\n} else if (/понравил|отлично|супер|незабываем|спасибо за тур|было здорово/i.test(text)) {\n  stage = 'done';\n} else if (/потом|подумаю|позже|не сейчас|может быть|посмотрим/i.test(text)) {\n  stage = 'thinking';\n} else if (interests.length || budget || arrivalDate || groupSize) {\n  stage = 'interest';\n}\n\n// Last tour\nlet lastTour = null;\nconst tourMap = [[/джеймс.*бонд|james.*bond/i,'james'],[/пхи.пхи|phi.phi/i,'phiphi-bamboo'],[/симилан/i,'similan'],[/мото.?тур|мотоцикл.*остров/i,'moto'],[/рафтинг|слоны.*atv|atv.*слон/i,'raft'],[/гиббон|зиплайн/i,'gibbon'],[/као.*сок/i,'khaosok2'],[/яхт/i,'yacht'],[/фаер.*шоу|fire.*show/i,'fire'],[/ко.*лан|ko.*lan/i,'kolan'],[/тиффани/i,'tiffany'],[/нонг.*нуч/i,'nong-nooch'],[/рамаян|аквапарк/i,'aqua-ramayana'],[/катамаран|закат/i,'sunset-cat'],[/кхао.*кхео|сафари/i,'khao-kheo']];\nfor (const [re, slug] of tourMap) { if (re.test(text)) { lastTour = slug; break; } }\n\nreturn [{ json: {\n  client_id: d.client_id, tg_chat_id: d.tg_chat_id, client_name: d.client_name, client_stage: d.client_stage,\n  interests: interests.length ? interests : null,\n  budget_level: budget,\n  new_stage: d.booking_ready ? 'booking' : stage,\n  last_tour_viewed: lastTour,\n  arrival_date: arrivalDate,\n  group_size: groupSize,\n  has_children: hasChildren,\n  has_updates: !!(interests.length || budget || lastTour || arrivalDate || groupSize || hasChildren !== null || stage) || !!d.booking_ready,\n  has_stage_update: !!stage || !!d.booking_ready,\n  booking_ready: d.booking_ready || false,\n  booking: d.booking || null\n}}];\n"
      },
      "id": "99807958-98ff-4f79-aa57-3798a28fa97a",
      "name": "🔍 Интент",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        208
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.booking_ready }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fc2c4f22-3ff9-49a7-bea9-f2739b36f0db",
      "name": "🔔 Бронь?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2208,
        448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.is_new_client }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "795b7b78-5690-4d70-bf24-54ecdf2db590",
      "name": "🆕 Новый клиент?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1248,
        -240
      ]
    },
    {
      "parameters": {
        "chatId": "8943048058",
        "text": "=🆕 <b>Новый клиент!</b>\n\n👤 {{ $json.client_name || $('📝 Извлечь').first().json.name }}\n💬 Chat: <code>{{ $json.tg_chat_id }}</code>\n📝 Написал: \"{{ $json.message_text }}\"\n\n🤖 @phuket_nestandart_bot",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "6b0d10f1-baa9-435c-9dc0-de14e3ea6244",
      "name": "📲 Новый клиент",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1488,
        -240
      ],
      "webhookId": "46f8b1a1-2d5f-47ea-960a-905f920acd36",
      "credentials": {
        "telegramApi": {
          "id": "a1b2c3d4e5f60718",
          "name": "Telegram KotE"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "7369372c-f4e9-40b4-9482-0723fd62714e",
              "leftValue": "={{ $('📝 Извлечь').first().json.ref_code }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1c818f03-2484-4645-b874-a2578ecdcb94",
      "name": "🔗 Реферал?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        784,
        -128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/rpc/apply_referral",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_tg_chat_id\": \"{{ $('📝 Извлечь').first().json.tg_chat_id }}\",\n  \"p_ref_code\":   \"{{ $('📝 Извлечь').first().json.ref_code }}\",\n  \"p_secret\":     \"{{ $env.KOTE_SECRET }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "e5d4ed71-9707-4ec3-a3e0-8a66f79a22d2",
      "name": "🎁 Применить реферал",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        -208
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "koterukavbron01",
        "mode": "each",
        "options": {}
      },
      "id": "execrukav0000001",
      "name": "➡️ Рукав: Бронь",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2448,
        640
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": "kotemem00000001",
        "mode": "each",
        "options": {}
      },
      "id": "execmem000000001",
      "name": "➡️ Рукав: Память",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2208,
        208
      ]
    }
  ],
  "connections": {
    "📱 Telegram": {
      "main": [
        [
          {
            "node": "📝 Извлечь",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Извлечь": {
      "main": [
        [
          {
            "node": "👤 Upsert клиент",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👤 Upsert клиент": {
      "main": [
        [
          {
            "node": "🔗 Реферал?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Загрузить контекст": {
      "main": [
        [
          {
            "node": "✍️ Собрать промпт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ Собрать промпт": {
      "main": [
        [
          {
            "node": "🤖 Gemini",
            "type": "main",
            "index": 0
          },
          {
            "node": "🆕 Новый клиент?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Gemini": {
      "main": [
        [
          {
            "node": "💬 Достать ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Достать ответ": {
      "main": [
        [
          {
            "node": "📤 Отправить",
            "type": "main",
            "index": 0
          },
          {
            "node": "💾 Сохранить диалог",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Сохранить диалог": {
      "main": [
        [
          {
            "node": "🔍 Интент",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Интент": {
      "main": [
        [
          {
            "node": "➡️ Рукав: Память",
            "type": "main",
            "index": 0
          },
          {
            "node": "🔔 Бронь?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔔 Бронь?": {
      "main": [
        [
          {
            "node": "➡️ Рукав: Бронь",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🆕 Новый клиент?": {
      "main": [
        [
          {
            "node": "📲 Новый клиент",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔗 Реферал?": {
      "main": [
        [
          {
            "node": "🎁 Применить реферал",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🧠 Загрузить контекст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🎁 Применить реферал": {
      "main": [
        [
          {
            "node": "🧠 Загрузить контекст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "koteerrmon00001"
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "versionId": "da2347f7-cec4-44ff-99c3-7db5a0fdac66",
  "activeVersionId": "da2347f7-cec4-44ff-99c3-7db5a0fdac66",
  "versionCounter": 43,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-19T04:59:12.332Z",
      "createdAt": "2026-06-19T04:59:12.332Z",
      "role": "workflow:owner",
      "workflowId": "doCUKEZQpLQjDmxP",
      "projectId": "MqwDP4C0laO81Bqg",
      "project": {
        "updatedAt": "2026-06-19T04:42:11.152Z",
        "createdAt": "2026-06-18T20:48:04.578Z",
        "id": "MqwDP4C0laO81Bqg",
        "name": "Ilia Betekhtin <ibetekhtin@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "7c1a3523-c2a1-45ab-99ab-c48c16f7c6b9"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}