n8n/live/memory-stage.json
{"updatedAt":"2026-06-25T04:32:52.000Z","createdAt":"2026-06-25T04:32:49.207Z","id":"kotemem00000001","name":"🧠 КотЭ — Рукав: Память/Стадия","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"a0000000-0000-0000-0000-000000000001","name":"🔍 Интент","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,200]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.has_updates }}","rightValue":true,"operator":{"type":"boolean","operation":"true"}}],"combinator":"and"},"options":{}},"id":"76bba161-6689-4b4c-a452-2378fa460f9d","name":"❓ Есть обновления?","type":"n8n-nodes-base.if","typeVersion":2,"position":[240,200]},{"parameters":{"method":"POST","url":"https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/rpc/upsert_client_memory","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"p_secret\": \"{{ $env.KOTE_SECRET }}\",\n  \"p_client_id\": \"{{ $json.client_id }}\",\n  \"p_interests\": {{ $json.interests ? JSON.stringify($json.interests) : 'null' }},\n  \"p_budget_level\": {{ $json.budget_level ? JSON.stringify($json.budget_level) : 'null' }},\n  \"p_last_intent\": {{ $json.new_stage ? JSON.stringify($json.new_stage) : 'null' }},\n  \"p_last_tour_viewed\": {{ $json.last_tour_viewed ? JSON.stringify($json.last_tour_viewed) : 'null' }},\n  \"p_arrival_date\": {{ $json.arrival_date ? JSON.stringify($json.arrival_date) : 'null' }},\n  \"p_group_size\": {{ $json.group_size || 'null' }},\n  \"p_has_children\": {{ $json.has_children !== null ? $json.has_children : 'null' }}\n}","options":{}},"id":"c37abd9c-b435-46e8-9049-4a37a0076166","name":"📊 Обновить память","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,104]},{"parameters":{"method":"POST","url":"https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/rpc/update_client_stage","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"p_secret\": \"{{ $env.KOTE_SECRET }}\",\n  \"p_tg_chat_id\": \"{{ $json.tg_chat_id }}\",\n  \"p_stage\": \"{{ $json.new_stage || $json.client_stage || 'interest' }}\"\n}","options":{}},"id":"36d50b8d-86cc-4664-b681-b30c456264f5","name":"🎯 Обновить стадию","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,296]}],"connections":{"🔍 Интент":{"main":[[{"node":"❓ Есть обновления?","type":"main","index":0}]]},"❓ Есть обновления?":{"main":[[{"node":"📊 Обновить память","type":"main","index":0},{"node":"🎯 Обновить стадию","type":"main","index":0}],[]]}},"settings":{"executionOrder":"v1","errorWorkflow":"koteerrmon00001"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":null,"versionId":"09888550-5a9f-4cce-b4f2-95b4c2c7e810","activeVersionId":"09888550-5a9f-4cce-b4f2-95b4c2c7e810","versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-25T04:32:49.212Z","createdAt":"2026-06-25T04:32:49.212Z","role":"workflow:owner","workflowId":"kotemem00000001","projectId":"MqwDP4C0laO81Bqg","project":{"updatedAt":"2026-06-19T04:42:11.152Z","createdAt":"2026-06-18T20:48:04.578Z","id":"MqwDP4C0laO81Bqg","name":"Ilia Betekhtin <ibetekhtin@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"7c1a3523-c2a1-45ab-99ab-c48c16f7c6b9"}}],"versionMetadata":{"name":null,"description":null}}