n8n/live/new-leads-notify.json
{
  "updatedAt": "2026-06-24T15:22:31.000Z",
  "createdAt": "2026-06-19T04:38:24.712Z",
  "id": "dfc19c96757a4132",
  "name": "КотЭ — Новые заявки: уведомление менеджеру",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "name": "Каждые 5 минут",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "08fbbd99-9bf2-4f3a-84c0-469ac77f6ddd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/rpc/get_new_leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_minutes\": 6, \"p_secret\": \"{{ $env.KOTE_SECRET }}\" }",
        "options": {
          "timeout": 15000
        }
      },
      "name": "Получить новые лиды",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        0
      ],
      "id": "607be167-b3a5-41af-b30b-f7ae7f3f76e5"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "8943048058",
        "text": "=🆕 <b>Новый лид!</b>\n\n👤 {{ $json.name || \"Без имени\" }}\n📞 {{ $json.phone || \"не указан\" }}\n💬 TG: {{ $json.tg_chat_id || \"нет\" }}\n📡 Источник: {{ $json.source || \"неизвестен\" }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "appendAttribution": false
        }
      },
      "name": "Уведомить менеджера",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ],
      "id": "2562059b-1d53-49dd-ac4f-2a40f81de433",
      "credentials": {
        "telegramApi": {
          "id": "a1b2c3d4e5f60718",
          "name": "Telegram KotE"
        }
      }
    }
  ],
  "connections": {
    "Каждые 5 минут": {
      "main": [
        [
          {
            "node": "Получить новые лиды",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получить новые лиды": {
      "main": [
        [
          {
            "node": "Уведомить менеджера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "koteerrmon00001"
  },
  "staticData": {
    "node:Каждые 5 минут": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "nodeGroups": [],
  "versionId": "eb7464bd-0410-4b91-bc19-a912ef251a6a",
  "activeVersionId": "eb7464bd-0410-4b91-bc19-a912ef251a6a",
  "versionCounter": 9,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-06-19T04:38:24.716Z",
      "createdAt": "2026-06-19T04:38:24.716Z",
      "role": "workflow:owner",
      "workflowId": "dfc19c96757a4132",
      "projectId": "MqwDP4C0laO81Bqg",
      "project": {
        "updatedAt": "2026-06-19T04:42:11.152Z",
        "createdAt": "2026-06-18T20:48:04.578Z",
        "id": "MqwDP4C0laO81Bqg",
        "name": "Ilia Betekhtin <ibetekhtin@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "7c1a3523-c2a1-45ab-99ab-c48c16f7c6b9"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  }
}