n8n/live/tour-reminder.json
{"updatedAt":"2026-06-24T15:22:43.000Z","createdAt":"2026-06-19T04:38:24.718Z","id":"31c0358a81e6c846","name":"📅 КотЭ — Напоминание о туре за день","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 11 * * *"}]}},"name":"⏰ Каждый день 18:00 Бангкок","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[0,0],"id":"9fdc95a3-c1a3-468a-9e66-f18d3d6fdc96"},{"parameters":{"method":"POST","url":"https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/rpc/get_tour_reminders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"=Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={ \"p_days_ahead\": 1, \"p_secret\": \"{{ $env.KOTE_SECRET }}\" }"},"name":"🗓 Туры на завтра (Supabase)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,0],"id":"acbbf7ae-d372-4e22-ac4f-da4911b5ee4f"},{"parameters":{"batchSize":1},"name":"🔄 По каждому клиенту","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,0],"id":"3e96b075-01c8-4bca-88e9-71b9667377b1"},{"parameters":{"resource":"message","operation":"sendMessage","chatId":"={{ $json.tg_chat_id }}","text":"=👋 Привет, {{ $json.client_name }}!\n\nНапоминаем: завтра у вас тур «{{ $json.tour_name }}» 🌴\n\n📅 Дата: {{ $json.date_start }}\n👥 Гостей: {{ $json.people_count }} чел.\n\nЕсть вопросы — пишите прямо сюда, мы на связи 24/7. До встречи! 🤝","additionalFields":{"appendAttribution":false,"disable_web_page_preview":true}},"name":"📲 Напомнить клиенту","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[672,0],"id":"ecfc2568-f913-46e1-997d-81654d1252b3","credentials":{"telegramApi":{"id":"a1b2c3d4e5f60718","name":"Telegram KotE"}}}],"connections":{"⏰ Каждый день 18:00 Бангкок":{"main":[[{"node":"🗓 Туры на завтра (Supabase)","type":"main","index":0}]]},"🗓 Туры на завтра (Supabase)":{"main":[[{"node":"🔄 По каждому клиенту","type":"main","index":0}]]},"🔄 По каждому клиенту":{"main":[[],[{"node":"📲 Напомнить клиенту","type":"main","index":0}]]},"📲 Напомнить клиенту":{"main":[[{"node":"🔄 По каждому клиенту","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","errorWorkflow":"koteerrmon00001"},"staticData":{"node:⏰ Каждый день 18:00 Бангкок":{"recurrenceRules":[]}},"meta":null,"nodeGroups":[],"pinData":null,"versionId":"ec72fd2a-5a58-418a-8295-a5f9bc1097f6","activeVersionId":"ec72fd2a-5a58-418a-8295-a5f9bc1097f6","versionCounter":8,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-06-19T04:38:24.720Z","createdAt":"2026-06-19T04:38:24.720Z","role":"workflow:owner","workflowId":"31c0358a81e6c846","projectId":"MqwDP4C0laO81Bqg","project":{"updatedAt":"2026-06-19T04:42:11.152Z","createdAt":"2026-06-18T20:48:04.578Z","id":"MqwDP4C0laO81Bqg","name":"Ilia Betekhtin <ibetekhtin@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"7c1a3523-c2a1-45ab-99ab-c48c16f7c6b9"}}],"versionMetadata":{"name":null,"description":null}}