platform/kote/workflow.json
{
  "name": "КотЭ — AI Агент с памятью",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "tg-trigger",
      "name": "📱 Telegram",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        200,
        400
      ],
      "webhookId": "kote",
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const tg = $input.first().json;\nconst msg = tg.message || tg.edited_message;\nif (!msg) return [];\nconst text = (msg.text || msg.caption || '').trim();\nif (!text || (msg.from && msg.from.is_bot)) return [];\nconst from = msg.from || {};\nreturn [{ json: {\n  tg_chat_id: String(msg.chat.id),\n  message_text: text,\n  name: [from.first_name, from.last_name].filter(Boolean).join(' ') || 'Гость',\n  language: from.language_code || 'ru'\n}}];"
      },
      "id": "extract",
      "name": "📝 Извлечь",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/clients",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tg_chat_id\": \"{{ $json.tg_chat_id }}\",\n  \"name\": \"{{ $json.name }}\",\n  \"source\": \"telegram\"\n}",
        "options": {}
      },
      "id": "upsert-client",
      "name": "👤 Upsert клиент",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/rpc/get_kote_context",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"p_tg_chat_id\": \"{{ $('📝 Извлечь').first().json.tg_chat_id }}\", \"p_query\": {{ JSON.stringify($('📝 Извлечь').first().json.message_text) }} }",
        "options": {}
      },
      "id": "get-context",
      "name": "🧠 Загрузить контекст",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const ctx = Array.isArray($input.first().json) ? $input.first().json[0] : $input.first().json;\nconst extracted = $('📝 Извлечь').first().json;\n\n// Дата — единственное, что считает код. Всё остальное — данные из базы.\nconst currentDate = new Date().toLocaleDateString('ru-RU', {day:'numeric', month:'long', year:'numeric'});\n\n// Память о клиенте\nconst lines = [];\nif (ctx?.client_name) lines.push(`Имя: ${ctx.client_name}`);\nif (ctx?.client_stage && ctx.client_stage !== 'new') lines.push(`Стадия: ${ctx.client_stage}`);\nif (ctx?.client_country) lines.push(`Откуда: ${ctx.client_country}`);\nif (ctx?.interests?.length) lines.push(`Интересы: ${ctx.interests.join(', ')}`);\nif (ctx?.budget_level && ctx.budget_level !== 'medium') lines.push(`Бюджет: ${ctx.budget_level}`);\nif (ctx?.travel_style) lines.push(`Стиль: ${ctx.travel_style}`);\nif (ctx?.arrival_date) lines.push(`Дата приезда: ${ctx.arrival_date}`);\nif (ctx?.group_size) lines.push(`Группа: ${ctx.group_size} чел.`);\nif (ctx?.has_children) lines.push('Едут с детьми: да');\nif (ctx?.last_tour_viewed) lines.push(`Смотрел тур: ${ctx.last_tour_viewed}`);\nif (ctx?.tours_booked?.length) lines.push(`Забронировал: ${ctx.tours_booked.join(', ')}`);\nconst clientMemory = lines.length ? lines.join('\\n') : 'Новый гость, ничего не знаем.';\n\n// История диалога\nlet lastConvs = 'Первое обращение.';\nlet convs = ctx?.last_conversations || [];\nif (typeof convs === 'string') { try { convs = JSON.parse(convs); } catch { convs = []; } }\nif (Array.isArray(convs) && convs.length) {\n  lastConvs = convs.slice(0, 8).reverse()\n    .map(c => `Клиент: ${c.msg || ''}\\nКотЭ: ${c.res || ''}`).join('\\n---\\n');\n}\n\n// Туры — компактные строки для промпта\nconst tours = (ctx?.tours_catalog || [])\n  .map(t => `[${t.city}] ${t.t} — ${t.price}฿${t.child ? ` (дети ${t.child}฿)` : ''}${t.dur ? `, ${t.dur}` : ''}${t.season ? ` ⚠️ ${t.season}` : ''} | start=${t.slug}`)\n  .join('\\n') || 'Каталог временно пуст — отправь к менеджеру.';\n\n// Знания под вопрос\nconst knowledge = (ctx?.knowledge_pack || [])\n  .map(k => `• ${k.t} [${k.city}]: ${k.c}${k.tip ? `\\n  💡 ${k.tip}` : ''}`)\n  .join('\\n') || 'Под этот вопрос знаний не нашлось — отвечай аккуратно, без выдумок.';\n\nreturn [{ json: {\n  tg_chat_id: extracted.tg_chat_id,\n  message_text: extracted.message_text,\n  client_id: ctx?.client_id ?? null,\n  client_name: ctx?.client_name ?? null,\n  client_stage: ctx?.client_stage || 'new',\n  is_new_client: ctx?.is_new_client || false,\n  current_date: currentDate,\n  client_memory: clientMemory,\n  last_conversations: lastConvs,\n  tours_catalog: tours,\n  knowledge_pack: knowledge\n}}];"
      },
      "id": "build-prompt",
      "name": "✍️ Собрать промпт",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=REPLACE_WITH_GEMINI_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"systemInstruction\": {\n    \"parts\": [{ \"text\": {{ JSON.stringify(\n      \"Ты — КотЭ 🐾, цифровой кот и душа проекта «Нестандартный Отдых». Живёшь в Таиланде с 2013 года, знаешь его как свои подушечки. Помогаешь туристам экономить деньги, время и нервы.\\n\\nХАРАКТЕР: тёплый, живой, с лёгким кошачьим юмором без клоунады. Говоришь как друг, который там живёт. Сначала помочь человеку, потом продать — всегда в этом порядке. Не навязываешь. Безопасность туриста важнее любой продажи.\\n\\nСТИЛЬ: коротко, 2-4 предложения — это переписка, не лекция. По имени, если знаешь. Эмодзи умеренно 🌊🏝️🐾. Цены сразу и честно.\\n\\nПРАВИЛА РАБОТЫ С ДАННЫМИ:\\n- ТУРЫ ниже — твой живой каталог. Рекомендуй только из него, с реальными ценами. Поле season — закон: не в сезоне — честно скажи и предложи замену\\n- ЗНАНИЯ — проверенные факты. Опирайся на них. Есть 💡 tip — поделись как личным секретом\\n- ПАМЯТЬ О КЛИЕНТЕ — не переспрашивай известное. Учитывай детей, группу, бюджет\\n- Нет ответа в данных — скажи честно и направь к менеджеру @nestandart_phuket\\n\\nВЕДИ МЯГКО: понять что нужно → предложить 1-3 варианта под человека → когда готов, дать ссылку https://t.me/nestandart_phuket?start={slug из каталога}\" +\n      \"\\n\\n=== ТЕКУЩАЯ ДАТА ===\\n\" + $json.current_date +\n      \"\\n\\n=== ПАМЯТЬ О КЛИЕНТЕ ===\\n\" + $json.client_memory +\n      \"\\n\\n=== ИСТОРИЯ ДИАЛОГА ===\\n\" + $json.last_conversations +\n      \"\\n\\n=== ТУРЫ (живой каталог) ===\\n\" + $json.tours_catalog +\n      \"\\n\\n=== ЗНАНИЯ (под вопрос клиента) ===\\n\" + $json.knowledge_pack\n    ) }} }]\n  },\n  \"contents\": [{ \"role\": \"user\", \"parts\": [{ \"text\": {{ JSON.stringify($json.message_text) }} }] }],\n  \"generationConfig\": { \"temperature\": 0.8, \"maxOutputTokens\": 500 }\n}",
        "options": {}
      },
      "id": "gemini",
      "name": "🤖 Gemini",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const ai = $input.first().json;\nconst prev = $('✍️ Собрать промпт').first().json;\nlet reply = 'Извините, что-то пошло не так. Попробуйте через минуту 🙏';\ntry {\n  if (ai.error) {\n    const code = ai.error.code || ai.error.status || '';\n    if (code === 429 || String(code).includes('RESOURCE_EXHAUSTED')) {\n      reply = 'Секунду, немного перегружен — напишите ещё раз через минуту 🙏';\n    } else if (code === 401 || code === 403) {\n      reply = 'Технические неполадки, уже разбираемся!';\n    } else if (code === 500 || code === 503) {\n      reply = 'Временные неполадки с ИИ. Попробуйте через пару минут 🙏';\n    } else {\n      reply = 'Что-то пошло не так. Попробуйте ещё раз 🙏';\n    }\n  } else {\n    const text = ai.candidates?.[0]?.content?.parts?.[0]?.text;\n    if (text && text.trim()) reply = text.trim();\n  }\n} catch(e) {}\nreturn [{ json: { ...prev, ai_reply: reply } }];"
      },
      "id": "extract-reply",
      "name": "💬 Достать ответ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1640,
        400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_chat_id }}",
        "text": "={{ $json.ai_reply }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-tg",
      "name": "📤 Отправить",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1880,
        400
      ],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_ME",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/conversations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"client_id\": \"{{ $json.client_id }}\",\n  \"message\": {{ JSON.stringify($json.message_text) }},\n  \"response\": {{ JSON.stringify($json.ai_reply) }},\n  \"source\": \"telegram\"\n}",
        "options": {}
      },
      "id": "save-conv",
      "name": "💾 Сохранить диалог",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1880,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst text = (d.message_text || '').toLowerCase();\n\n// Interests detection\nconst interests = [];\nif (/остров|море|пляж|пхи|симил|джеймс|снорклинг|яхт|морск|дайв|кораллы|плавани/i.test(text)) interests.push('islands');\nif (/актив|рафтинг|atv|квадро|мото|зиплайн|гиббон|слон|адренал|спорт|экстрим/i.test(text)) interests.push('active');\nif (/природ|джунгли|као.*сок|водопад|лес|нацпарк|эко|нетронут/i.test(text)) interests.push('nature');\nif (/вечер|шоу|фаер|тиффани|муай|бокс|закат|романтик|ужин|кабаре/i.test(text)) interests.push('evening');\nif (/дети|ребенок|семья|детей|малыш|семейн|ребята|ребёнок/i.test(text)) interests.push('family');\nif (/vip|яхта|премиум|luxury|эксклюзив|персональн/i.test(text)) interests.push('vip');\n\n// Budget signals\nlet budget = null;\nif (/недорого|дёшево|бюджетн|экономн|сколько стоит.*самый/i.test(text)) budget = 'low';\nif (/vip|не.*дорог|деньги.*не.*вопрос|любой бюджет|премиум/i.test(text)) budget = 'vip';\n\n// Arrival date extraction (month names)\nlet arrivalDate = null;\nconst months = [\n  ['январ', '01'], ['феврал', '02'], ['март', '03'], ['апрел', '04'],\n  ['май', '05'], ['мая', '05'], ['июн', '06'], ['июл', '07'],\n  ['август', '08'], ['сентябр', '09'], ['октябр', '10'], ['ноябр', '11'], ['декабр', '12']\n];\nfor (const [name, num] of months) {\n  if (text.includes(name)) {\n    const year = num >= '11' ? '2026' : '2027';\n    arrivalDate = `${year}-${num}`;\n    break;\n  }\n}\n// Also catch \"через N дней/недель\"\nif (!arrivalDate && /через (\\d+) (день|дня|дней|недел)/i.test(text)) {\n  const match = text.match(/через (\\d+) (день|дня|дней|недел)/i);\n  const days = parseInt(match[1]) * (match[2].startsWith('недел') ? 7 : 1);\n  const arrival = new Date();\n  arrival.setDate(arrival.getDate() + days);\n  arrivalDate = arrival.toISOString().slice(0, 7);\n}\n\n// Group size extraction\nlet groupSize = null;\nlet hasChildren = null;\nconst groupMatch = text.match(/нас\\s+(\\d+)|([двое|трое|четверо|пятеро])|([\\d]+)\\s*человек|([\\d]+)\\s*взросл/);\nif (groupMatch) {\n  const wordNums = { 'двое': 2, 'трое': 3, 'четверо': 4, 'пятеро': 5 };\n  groupSize = parseInt(groupMatch[1] || groupMatch[3] || groupMatch[4]) || wordNums[groupMatch[2]] || null;\n}\nif (/дети|ребенок|ребёнок|детей|малыш|с детьми|ребята/i.test(text)) hasChildren = true;\nif (/без детей|только взросл|не берём детей/i.test(text)) hasChildren = false;\n\n// Stage detection\nlet stage = null;\nif (/забронир|оформ|хочу.*(тур|брон)|запис|оплат|купить|давай|беру|берём|пишите цену|как заброн/i.test(text)) {\n  stage = 'booking';\n} else if (/понравил|отлично|супер|класс|незабываем|рекомендую|спасибо за тур|было здорово/i.test(text)) {\n  stage = 'done';\n} else if (/потом|подумаю|позже|не сейчас|может быть|посмотрим|пока не знаю/i.test(text)) {\n  stage = 'thinking';\n} else if (/не нужно|не надо|не интересно|нет спасибо|передумал|отменить/i.test(text)) {\n  stage = 'cold';\n} else if (interests.length || budget || arrivalDate || groupSize) {\n  stage = 'interest';\n}\n\n// Tour viewed\nlet lastTour = null;\nconst tourMap = [\n  [/джеймс.*бонд|james.*bond|бонд.*остров/i, 'james'],\n  [/пхи.пхи|phi.phi/i, 'phiphi-bamboo'],\n  [/симилан/i, 'similan'],\n  [/мото.?тур|мотоцикл.*остров/i, 'moto'],\n  [/рафтинг|слоны.*atv|atv.*слон/i, 'raft'],\n  [/гиббон|зиплайн/i, 'gibbon'],\n  [/као.*сок/i, 'khaosok2'],\n  [/яхт/i, 'yacht'],\n  [/vip.*сопров|персональный.*менеджер/i, 'vip'],\n  [/фаер.*шоу|fire.*show/i, 'fire'],\n  [/ко.*лан|ko.*lan/i, 'kolan'],\n  [/тиффани/i, 'tiffany'],\n  [/нонг.*нуч/i, 'nong-nooch'],\n  [/рамаян|аквапарк/i, 'aqua-ramayana'],\n  [/катамаран|закат/i, 'sunset-cat'],\n  [/кхао.*кхео|сафари/i, 'khao-kheo'],\n];\nfor (const [re, slug] of tourMap) {\n  if (re.test(text)) { lastTour = slug; break; }\n}\n\nreturn [{ json: {\n  client_id: d.client_id,\n  tg_chat_id: d.tg_chat_id,\n  client_stage: d.client_stage,\n  interests: interests.length ? interests : null,\n  budget_level: budget,\n  new_stage: stage,\n  last_tour_viewed: lastTour,\n  arrival_date: arrivalDate,\n  group_size: groupSize,\n  has_children: hasChildren,\n  has_updates: !!(interests.length || budget || lastTour || arrivalDate || groupSize || hasChildren !== null),\n  has_stage_update: !!stage\n}}];"
      },
      "id": "detect-intent",
      "name": "🔍 Интент",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2120,
        600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.has_updates }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-update",
      "name": "❓ Есть обновления?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2360,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/rpc/upsert_client_memory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_client_id\": \"{{ $json.client_id }}\",\n  \"p_interests\": {{ $json.interests ? JSON.stringify($json.interests) : 'null' }},\n  \"p_budget_level\": {{ $json.budget_level ? JSON.stringify($json.budget_level) : 'null' }},\n  \"p_last_intent\": {{ $json.new_stage ? JSON.stringify($json.new_stage) : 'null' }},\n  \"p_last_tour_viewed\": {{ $json.last_tour_viewed ? JSON.stringify($json.last_tour_viewed) : 'null' }},\n  \"p_arrival_date\": {{ $json.arrival_date ? JSON.stringify($json.arrival_date) : 'null' }},\n  \"p_group_size\": {{ $json.group_size || 'null' }},\n  \"p_has_children\": {{ $json.has_children !== null ? $json.has_children : 'null' }}\n}",
        "options": {}
      },
      "id": "update-memory",
      "name": "📊 Обновить память",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cmmdrhususjuadqzyssc.supabase.co/rest/v1/rpc/update_client_stage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtbWRyaHVzdXNqdWFkcXp5c3NjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0OTQxODcsImV4cCI6MjA5NjA3MDE4N30.IDExX_9wO21I8HIs_rJzDwMwAdD5xIBH5zHI043FEhs"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_tg_chat_id\": \"{{ $json.tg_chat_id }}\",\n  \"p_stage\": \"{{ $json.new_stage || $json.client_stage || 'interest' }}\"\n}",
        "options": {}
      },
      "id": "update-stage",
      "name": "🎯 Обновить стадию",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2600,
        700
      ]
    }
  ],
  "connections": {
    "📱 Telegram": {
      "main": [
        [
          {
            "node": "📝 Извлечь",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📝 Извлечь": {
      "main": [
        [
          {
            "node": "👤 Upsert клиент",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👤 Upsert клиент": {
      "main": [
        [
          {
            "node": "🧠 Загрузить контекст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Загрузить контекст": {
      "main": [
        [
          {
            "node": "✍️ Собрать промпт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✍️ Собрать промпт": {
      "main": [
        [
          {
            "node": "🤖 Gemini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 Gemini": {
      "main": [
        [
          {
            "node": "💬 Достать ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💬 Достать ответ": {
      "main": [
        [
          {
            "node": "📤 Отправить",
            "type": "main",
            "index": 0
          },
          {
            "node": "💾 Сохранить диалог",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💾 Сохранить диалог": {
      "main": [
        [
          {
            "node": "🔍 Интент",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Интент": {
      "main": [
        [
          {
            "node": "❓ Есть обновления?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❓ Есть обновления?": {
      "main": [
        [
          {
            "node": "📊 Обновить память",
            "type": "main",
            "index": 0
          },
          {
            "node": "🎯 Обновить стадию",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "КотЭ"
    },
    {
      "name": "Telegram"
    },
    {
      "name": "AI"
    }
  ]
}